{% extends "layout.twig" %}
{% block title %}
    BO - User TEST
{% endblock %}

{% block content %}

    <h1>BO - TEST</h1>

    <h2>User</h2>

    <button class="btn btn-primary btn-lg btn-block" type="button">
        <a href="test/test-get-user-1">Get User 1</a>
    </button>

    <button class="btn btn-primary btn-lg btn-block" type="button">
        <a href="test/test-get-user-owner-1">Get User Owner 1</a>
    </button>

    <h2>Token</h2>

    <button class="btn btn-primary btn-lg btn-block" type="button">
        <a href="test/test-create-pass-change-token">Create Token</a>
    </button>

{#    <button class="btn btn-primary btn-lg btn-block" type="button">#}
{#        <a href="test/test-get-token-by-content">Get Token by content</a>#}
{#    </button>#}

    <h2>File</h2>

    <hr>

    <h4>Create File</h4>
    <p>Sur le <a href="/user/profil">profil utilisateur</a></p>

    <hr>

    <h4>Get file by Id</h4>
    <div class="row">
        <div class="col-md-6">
            <form action="test#test-get-file-by-id" method="POST">
                <div class="form-group">
                    <label for="test-get-file-by-id">Get file id :</label>
                    <input type="number" name="test-get-file-by-id" class="form-control" id="test-get-file-by-id" placeholder="Id">
                </div>
                <input type="submit"/>
            </form>
        </div>
        <div class="col-md-6">
            {% if test_get_file_by_id %}
                <div class="alert alert-{{ (test_get_file_by_id.err) ? 'warning' : 'success' }}" role="alert">

                    {% if test_get_file_by_id.err %}
                        {{ test_get_file_by_id.msg | raw }}
                    {% else %}
                        Id :    {{ test_get_file_by_id.id }}<br />
                        Title : {{ test_get_file_by_id.title }}<br />
                        URL :   {{ test_get_file_by_id.url }}<br />
                        Ext :   {{ test_get_file_by_id.ext }}<br />
                        Mime :  {{ test_get_file_by_id.mime }}<br />
                        Size :  {{ test_get_file_by_id.size }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <hr>

    <h4>Delete file by Id</h4>
    <div class="row">
        <div class="col-md-6">
            <form action="test#test-delete-file-id" method="POST">
                <div class="form-group">
                    <label for="test-delete-file-id">Delete file id :</label>
                    <input type="number" name="test-delete-file-id" class="form-control" id="test-delete-file-id" placeholder="Id">
                </div>
                <input type="submit"/>
            </form>
        </div>
        <div class="col-md-6">
            {% if test_delete_file_by_id %}
                <div class="alert alert-{{ (test_delete_file_by_id.err) ? 'warning' : 'success' }}" role="alert">
                    {{ test_delete_file_by_id.msg | raw }}
                </div>
            {% endif %}
        </div>
    </div>

    <hr>





{% endblock %}