{% block header %}
    <!-- Header -->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="site-heading row">
                {% if ownerinfo is not null %}
                    <div class="col-md-8 owner-info">
                        <h2>{{ ownerinfo.firstname }} {{ ownerinfo.lastname }}</h2>
                        <h4 class="font-italic">{{ ownerinfo.catchphrase }}</h4>
                    </div>
                    <div class="col-md-4 owner-photo">
                        <img src="{{ ownerinfo.getPhotoFile().getUrl() }}" alt="photo">
                    </div>
                    <div class="col-12 owner-cv">
                        <a href="{{ ownerinfo.getCvFile().getUrl() }}" target="_blank">Cliquez ici pour télécharger mon CV</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}
