{% block bo_comments_manage %}
    <section class="row gx-4 gx-lg-5 justify-content-center manage-comments">
        <div class="row d-none d-lg-flex">
            <div class="col-lg-1"><strong>Actions</strong></div>
            <div class="col-lg-2"><strong>Auteur</strong></div>
            <div class="col-lg-5"><strong>Contenu</strong></div>
            <div class="col-lg-2"><strong>Créé le</strong></div>
            <div class="col-lg-2"><strong>Statut</strong></div>
        </div>

        {% for comment in comments |slice(0, 100) %}
            <div class="row manage-item status-{{ comment.getStatus() }}">

                <div class="col-lg-1">
                    {% if comment.getStatus() != 'valid' %}
                        <a href="/owner/comment-validate/{{ comment.getComId() }}"><i class="fa-solid fa-thumbs-up"></i></a>&nbsp;
                    {% endif %}
                    <a href="/owner/comment-delete/{{ comment.getComId() }}"><i class="fa-solid fa-trash"></i></a>
                </div>

                <div class="col-lg-2">
                    <span class="d-lg-none">Auteur : </span>
                    {{ comment.getAuthorUser().getPseudo() }}
                </div>

                <div class="col-lg-4">
                    <span class="d-lg-none"><br />Commentaire :<br /></span>
                    {{ comment.getContent() }}
                    <span class="d-lg-none"><br /><br /></span>
                </div>

                <div class="col-lg-2">{{ comment.getCreatedDate()|date('d/m/Y') }}</div>

                <div class="col-lg-2">
                    <span class="d-lg-none">Statut : </span>
                    {{ comment.getStatus() }}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}