{% use "blocks/block_fo_head.twig" %}
{% use "blocks/block_fo_nav.twig" %}
{% use "blocks/block_fo_header.twig" %}
{% use "blocks/block_fo_footer.twig" %}
{% use "blocks/block_fo_scripts.twig" %}

<!doctype html>
<html lang="en">
    {{ block('head') }}

<body>
    {{ block('nav') }}
    {{ block('header') }}

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {{ block('footer') }}
    {{ block('scripts') }}
</body>
</html>