{% extends "layout.twig" %}

{% use "forms/form_user_login.twig" %}
{% use "forms/form_user_logout.twig" %}
{% use "forms/form_user_profile.twig" %}
{% use "forms/form_user_password.twig" %}
{% use "forms/form_owner_info.twig" %}


{% block title %}
    Profil
{% endblock %}

{% block content %}
    <section class="row gx-4 gx-lg-5 justify-content-center section-general section-lined user-profile">

        {% if usrid > 0 %}

            {{ block('form_user_logout') }}

            <div class="col-md-6">
                {{ block('form_user_profile') }}
                {{ block('form_user_password') }}
            </div>

            <div class="col-md-6">
                {% if owner %}
                    {{ block('form_owner_info') }}
                {% endif %}
            </div>

        {% else %}
            {{ block('form_user_login') }}
        {% endif %}
    </section>
{% endblock %}